<h3>댓글 달기</h3>  

<form action="/comment/create">
    <input type="hidden" name="id" value="<%=@_id%>">
    <input type="text" class="form-control" name="contents" />
    <button type="submit" class="btn btn-primary" style="float:right; margin:20px;">Done</button>
</form>